<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.zmm.tmsystem">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!--打电话权限-->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".application.AppApplication"
        android:hardwareAccelerated="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity
            android:name=".ui.activity.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.Notitle.SplashFullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.bumptech.glide.integration.okhttp3.OkHttpGlideModule"
            android:value="GlideModule"/>


        <!--友盟-->

        <!--微信-->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!--QQ-->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!--需要去QQ开放平台获取-->
                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboardHidden|screenSize"/>






        <activity
            android:name=".ui.activity.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"/>

        <activity
            android:name=".ui.activity.LoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"/>

        <activity
            android:name=".ui.activity.RegisterActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"/>

        <activity
            android:name=".ui.activity.ModifyActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"/>

        <activity
            android:name=".ui.activity.TeacherInfoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"/>

        <activity
            android:name=".ui.activity.SettingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"/>

        <activity
            android:name=".ui.activity.TermActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"/>

        <activity
            android:name=".ui.activity.TermInfoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"/>

        <activity
            android:name=".ui.activity.StudentActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"/>

        <activity
            android:name=".ui.activity.StudentInfoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"/>

        <!--移除学生管理-->
        <activity
            android:name=".ui.activity.StudentRemoveActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"/>

        <activity
            android:name=".ui.activity.ChildcareStudentInfoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"/>

        <!--荣誉证书-->
        <activity
            android:name=".ui.activity.CertificateActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"/>

        <activity
            android:name=".ui.activity.CertificateInfoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"/>

        <activity
            android:name=".ui.activity.CertificatePicShowActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"/>

        <!--消费-->
        <activity
            android:name=".ui.activity.SpendActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"/>
        <activity
            android:name=".ui.activity.SpendDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"/>
        <activity
            android:name=".ui.activity.SpendInfoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"/>
        <!--成绩单-->
        <activity
            android:name=".ui.activity.ScoreActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"/>
        <activity
            android:name=".ui.activity.ScoreInfoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"/>
        <activity
            android:name=".ui.activity.ScoreStatsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"/>

    </application>

</manifest>